*{
    padding: 0;
    margin: 0;
}

section{
    width: 100%;
    overflow: hidden;
}

.wrapper{
    display: block;
}

#header h1{
    color: #fff;
    font-size: 150px;
    font-family: "Colonna MT";
    font-weight: normal;
    margin: 30px auto;
}

#header p{
    color: #fff;
    margin-bottom: 80px;
    font-family: "Hiragino Gothic";
    font-size: 30px;
}

#header{
    background-image: url(images/main.JPG);
    background-size: cover;
    border-style: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
}


.logo img{
    width: 400px;
    margin: 100px auto;
}

#nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

nav a{
    text-decoration: none;
    overflow: hidden;
    display: block;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    color: #635B55; 
    transition-duration: 0.5s;
}

nav a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s; 
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #635B55;
}

#nav ul li{
    list-style-type: none;
    color: #635B55;
    margin: 20px 170px; 
}

.wrapper{
    display: block;
}

#message{
    background-color: #FBF9F8;
    margin: 100px auto 130px;
    align-content: center;
}

#message h2{
    font-family: "Hiragino Kakugothic";
    font-weight: normal;
    font-size: 60px;
    text-align: center;
    margin: 40px auto 30px;
    color: #635B55;
}

#message p{
    font-size: 35px;
    text-align: center;
    margin: 50px auto 40px;
    color: #635B55;
}

#trivia{
    text-align: center;
    margin-bottom: 150px;
    margin-top: 60px;
}

#trivia h1{
    color: #635B55;
    font-size: 90px;
    font-family: "Avenir";
    font-weight: normal;
    margin: 0px auto;
}

#trivia h2{
    color: #635B55;
    font-size: 30px;
    font-family: "Hiragino Kakugothic";
    font-weight: lighter;
}

#trivia p{
    color: #635B55;
    font-family: "Hiragino Kakugothic";
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 70px;
}

#recipes{
    margin-bottom: 100px;
}

#recipes h1{
    color: #635B55;
    font-size: 90px;
    font-family: "Avenir";
    font-weight: normal;
    margin: 0px auto;
    text-align: center;
}

#recipes h2{
    color: #635B55;
    font-size: 30px;
    font-family: "Hiragino Kakugothic";
    font-weight: lighter;
    text-align: center;
}

#recipes h3{
    color: #635B55;
    font-size: 55px;
    font-family: "Avenir";
    font-weight: 400;
}

#recipes h4{
    color: #D65151;
    font-family: "Hiragino Kakugothic";
    font-size: 20px;
}

#recipes p{
    color: #635B55;
    font-family: "Hiragino Kakugothic";
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.recipebox p{
    color: #635B55;
    font-family: "Hiragino Kakugothic";
    font-size: 23px !important;
    font-weight: normal !important;
    text-align: left !important;
    margin-bottom: 50px !important;
}

.recipebox{
    background-color: #FBF9F8;
    width: 1184px;
    margin: 0 auto 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.recipebox img{
    width: 610px;
    overflow: hidden;
}

.leftbox{
    width: 374px;
    margin: auto 70px;
}

.rightbox{
    width: 374px;
    margin-left: 230px;
}

.gotorecipe a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #F5AC67;
    font-size: 30px;
    width: 374px;
    margin: 0 auto;
    text-align: center;
}

.gotorecipe a:hover{
    color: #635B55;
}

#recommended{
    text-align: center;
    margin-bottom: 200px;
}

#recommended h1{
    color: #635B55;
    font-size: 90px;
    font-family: "Avenir";
    font-weight: normal;
    margin: 0px auto;
}

#recommended h2{
    color: #635B55;
    font-size: 30px;
    font-family: "Hiragino Kakugothic";
    font-weight: lighter;
}

#recommended h3{
    color: #635B55;
    font-size: 35px;
    font-family: "Avenir";
    font-weight: 500;
}

#recommended p{
    color: #635B55;
    font-family: "Hiragino Kakugothic";
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
}

.shop a{
    display: block;
    text-decoration: none;
    color: #F5AC67;
    background-color: #ffffff;
    border-style: solid;
    border-color: #F5AC67;
    border-width: 3px;
    font-size: 20px;
    width: 325px;
    margin: 0 auto;
    text-align: center;
}

.shop a:hover{
    color: #fff;
    background-color: #F5AC67;
}

.shop p{
    font-size: 17px !important;
}

.shopbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop img{
    width: 327px;
    border-radius: 50%;
    margin-top: 60px;
}

.moreshop a{
    display: block;
    text-decoration: none;
    background-color: #F5AC67;
    color: #ffffff;
    font-size: 30px;
    width: 325px;
    margin: 0 auto;
}

.moreshop a:hover{
    color: #635B55;
}

.sns{
    text-align: center;
    background-color: #FBF9F8;
}

.sns p{
    color: #635B55;
    font-family: "Hiragino Kakugothic";
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 30px
}

.twitter img{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 100px;
    transition-duration: 0.5s;
}

.twitter:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.instagram img{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 100px;
    transition-duration: 0.5s;
}

.instagram:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.facebook img{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 100px;
    transition-duration: 0.5s;
}

.facebook:hover img{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.snsbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #F5AC67;
    text-align: center;
}

footer p{
    color: #635B55;
    font-family: "Avenir";
    font-size: 32px;
    font-weight: 300;
}

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

@media screen and (max-width:479px){
    
}